{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "browsers": [
                        "last 2 Chrome versions",
                        "last 2 Firefox versions",
                        "last 2 Edge versions",
                        "last 2 Safari versions",
                        "ie 11"
                    ]
                },
                "modules": false,
                "useBuiltIns": "usage"
            }
        ],
        "@babel/typescript"
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "@babel/env",
                    {
                        "targets": { "node": "current" },
                        "modules": "commonjs"
                    }
                ]
            ]
        }
    }
}
